* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #9c9696e0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 20px;
  color: rgb(7, 7, 7);
}

.container {
  min-height: 65vh;
  min-width: 27vw;
  background-color: rgb(46, 46, 48);
  border-radius: 5px;
  padding: 20px;
}

.timer {
  height: 12vh;
  width: 100%;
  background-color: rgb(211, 211, 219);
  border-radius: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 500;
  color: black;
  padding: 10px;
  display: grid;
  place-items: center;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 135px);
  height: 25vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
  place-items: center;
}

button {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  height: 45px;
  width: 130px;
  border-radius: 20px;
  padding: 10px;
}

.btns5 {
  grid-area: 3/1/3/3;
}

.adder {
  font-size: 19px;
  font-weight: 400;
  min-height: 19vh;
  width: 100%;
  padding: 10px;
  background-color: #c2bdbd;
  border-radius: 6px;
  margin: 10px auto;
}

.li {
  list-style-position: inside;
  color: black;
}
