* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(24, 23, 23, 0.863);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  & .container {
    height: 71vh;
    min-width: 29vw;
    min-height: 28vw;
    background-color: #f1eeeec0;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 0 4px 5px #1b1b1b;
    & .screen {
      width: 97%;
      height: 15vh;
      border-radius: 6px;
      background-color: #353030dc;
      margin:5px auto;
      padding: 5px;
      & .calculation {
        width: 100%;
        height: 7.5vh;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 60;
      }
      & .result {
        width: 100%;
        height: 6vh;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 60;
        text-align: right;
       
        
      }
    }
    & .btns {
      height: 53vh;
      width: 100%;
      border-radius: 6px;
      display: grid;
      grid-template-columns: repeat(4, 90px);
      grid-template-rows: repeat(5,70px);
      place-items: center;
      & button {
        height: 55px;
        width: 75px;
        background-color: rgb(5, 5, 5);
        color: #ffffff;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        border-radius: 6px;
        display: grid;
        place-items: center;
        text-align: center;
      }
      & .btn16 {
        grid-area: 4/4/6/5;
        height: 120px;
        background-color: rgb(95, 95, 93);
      }
    }
  }
}