* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #3e6bff;
  color: #f6f6f6;
  display: grid;
  place-items: center;
}
main {
  height: 70vh;
  width: 70vw;
  padding: 5px;
  border-radius: 10px;
  background-color: #05248b;
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 20px;
  & .div1 {
    height: 20%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 15px;
    & input {
      height: 53%;
      width: 85%;
      border-radius: 5px;
      background-color: #dddee2;
      color: #05248b;
      font-size: 20px;
      padding: 3px;
      &::placeholder {
        color: #05248b;
      }
    }
    & a {
      height: 51%;
      width: 10%;
      border-radius: 5px;
      background-color: #dddee2;
      color: #05248b;
      font-size: 20px;
      padding: 3px;
      text-decoration: none;
      display: grid;
      place-items: center;
    }
  }
  & .div2 {
    height: 40%;
    width: 80%;
    border-radius: 5px;
    background-color: #dddee2;
    display: grid;
    place-items: center;
    & p {
      border-radius: 5px;
      color: #05248b;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
  }
  & button {
    display: grid;
    place-items: center;
    height: 10%;
    width: 20%;
    border-radius: 5px;
    background-color: #dddee2;
    color: #05248b;
    font-size: 25px;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display:none;
  }
}
