* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
  }
  
  :root {
    --bg-color: #2c3e50;
  --bg-nav: #34495e;
  --p-white: #f0f0f0e5;
  }
  
  html {
    font-size: 106.25%;
  }
  
  body {
    min-width: 350px;
    height: 100vh;
    width: 100vw;
  overflow-x: hidden;
    background-color: var(--p-white);
    scroll-behavior: smooth;
    overflow-y: auto;
    background-attachment: fixed;
    position: relative;
  }
  
  /*! ========================================================================== */
  /*  -------------------------------------#header------------------------------ */
  /*! ========================================================================== */
  header {
    height: 3rem;
    width: 100%;
    background-color: var(--bg-nav);
    position: fixed;
    top:0;
    text-transform: uppercase;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    z-index: 1;
  }
  
  header nav {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
  }
  
  header nav > .logo {
    font-size: 1.3rem;
    color: var(--p-white);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 800;
  }
  
  header nav ul {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.4rem;
  }
  
  header nav ul li {
    list-style-type: none;
    padding: 0.3rem;
  }
  
  header nav ul li a {
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--p-white);
  }
  
  header nav ul li:last-of-type > a {
    color: var(--p-blue);
    font-weight: 700;
  }
  
  header nav ul li:last-of-type {
    background-color: var(--p-white);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    padding: 0.4rem;
  }
  
  header nav ul li :hover {
    border-bottom: 0.2rem solid var(--p-white);
  }
  
  header nav ul li:last-of-type:hover {
    box-shadow: 0 0 0.3rem 0.3rem var(--p-white);
  }
  
  header nav ul .manue {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--p-white);
    width: 3rem;
    height: 100%;
    display: grid;
    place-items: center;
    display: none;
  }
  
  /*! ========================================================================== */
  /*  -------------------------------------#dropdown-------------------------------- */
  /*! ========================================================================== */
  .drop{
    height:100vh ;
    width: 50dvw;
    margin-top: 2.9rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    position:fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    display: none;
  } .nav ul {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 0.8rem;
    background-color:var(--bg-color);
  }
  .con_ico{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .nav ul .icon{
    height: 3rem;
    width: 3rem;
    border: 0.2rem solid white;    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  } 
  .nav ul li {
    list-style-type: none;
    padding: 0.3rem;
  }
  
  .nav ul li a {
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--p-white);
    text-transform: capitalize;
  }  
  .nav ul li :hover {
    border-bottom: 0.2rem solid var(--p-white);
  }
  /*! ========================================================================== */
/*  -------------------------------------#blogs------------------------------ */
/*! ========================================================================== */

.blogs{
  height: auto;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;
}
.blogs  h1{
 display: grid;
 place-items: center;
 padding: 1rem;
  width: 100%;
  text-transform: capitalize;
}
.blogs .upper_para{
  width: 60%;
margin: auto;
text-align: center;
word-spacing: 0.2rem;
font-weight: 500;
font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 1.2rem;
}
.hr{
  width: 60%;
  margin: auto;
  & hr{
    height: 4px;
    background-color: #000000;
  }
}

.blogs .inner{
  height: auto;
  width:80%;
  margin: 2rem auto 0 auto;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 2rem;
  outline: 2px solid #000000;
}
main h2{
  width: 85%;
  text-transform: capitalize;
  line-height: 1.7;
margin-bottom: 1rem;
}
main  ul{
  display: flex;
  gap: 5rem;
  text-transform: capitalize;
margin-bottom: 2rem;
}
.blogs li{
  list-style-position: inside;
}
.blogs li,p{
  font-weight: 500;
font-size: 1.2rem;
line-height: 1.5;
}
.blogs a{ 
  text-decoration: none;
}
.main_sec{
  height: auto;
  display: grid;
grid-template-columns: repeat(2,1fr);
}
.down_para{
  margin-bottom: 1rem;
}
.accodion{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ex li{
  text-transform: capitalize;
}
.fi{
margin-top: 1rem;
z-index: -1;}

.accodion .accodion_bg{
  width: 100%;
  height: auto;
  background-color:whitesmoke;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  position: relative;
}
.accodion .accodion_btn h3{
text-transform: capitalize;
font-size: 1.5rem;
margin-bottom: 0.1rem;
width: 80%;
}
.accodion_btn{
  padding: 1rem;
}
.accodion_content h4{
  font-weight: 700;
  font-size: 1.1rem;
}
.accodion_content{
  padding: 0 1rem 1rem;
  display: none;
}
.show{
  display: block;
}
.accodion_btn .acc_btn{
  position: absolute;
  display: inline-block;
  background-color: #000000;
  color: white;
  cursor:pointer;
  height: 20px;
  width: 20px;
  font-size: 0.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  top: 1.2rem;
  right: 2rem;
}
  /*! ========================================================================== */
/*  -------------------------------------#footer------------------------------ */
/*! ========================================================================== */

footer {
    height: 15rem;
    width: 100%;
    background-color: var(--bg-color);
    padding: 1rem;
  }
  footer li{
    list-style-type: none;
  }
  
  .upper_footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8rem;
  }
  
  .upper_footer h4 {
    color: var(--p-white);
    font-size: 1.4rem;
    padding: 0.2rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    align-self: start;
  }
  
  .upper_footer .section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.8rem;
    width: 33.33%;
  }
  
  .upper_footer.section2 {
    width: 33.33%;
  }
  
  .upper_footer li,
  .upper_footer a {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }
  
  footer .section2 a {
    text-decoration: none;
  }
  
  footer .section2 a:hover {
    text-decoration: underline;
  }
  
  footer .section3 p {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.6rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
  }
  
  footer .section3 {
    width: 33.33%;
  }
  
  .lower_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    margin-top: 2rem;
  }
  
  .lower_footer .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .lower_footer .section2 .links {
    width: 2.7rem;
    height: 2.7rem;
    background-color: var(--p-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .lower_footer .section1 {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }
  
  /*! ========================================================================== */
/*  ---------------------------------#scroll-bar------------------------------ */
/*! ========================================================================== */
::-webkit-scrollbar {
    width: 0.6rem;
    z-index: 2;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--p-blue);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--p-white);
  }
  
  /*! ========================================================================== */
  /*  -----------------------------------#responsive---------------------------- */
  /*! ========================================================================== */
  @media (width>=1450px) {
    html {
      font-size: 125%;
    }
  }
  
  @media (width >=1600px) {
    html {
      font-size: 137.5%;
    }
  }
  
  @media (width >=1700px) {
    html {
      font-size: 150%;
    }
  }
  
  @media (width >=1800px) {
    html {
      font-size: 162.5%;
    }
  }
  
  @media (width >=1900px) {
    html {
      font-size: 170%;
    }
  }
  
  @media (width <=1100px) {
    html {
      font-size: 93.75%;
    }
  }
  
  @media (width <=1000px) {
    html {
      font-size: 87.25%;
    }
  }
  
  @media (width <=900px) {
    html {
      font-size: 80.75%;
    }
  
    header nav {
      gap: 20rem;
    }
  }
  
  @media (width <=800px) {
    html {
      font-size: 73.25%;
    }
  
    header nav {
      gap: 16rem;
    }
  }
  
  @media (width <=730px) {
    html {
      font-size: 71.75%;
    }
  
    main {
      height: auto;
      padding-bottom: 0;
    }
  
    main > .hero {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  
    .hero .btn {
      width: 20rem;
    }
  
    .about > .main {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  
    .about {
      padding-bottom: 0.5rem;
    }
  }
  
  @media (width <=700px) {
    .skill .skill_main {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  
    .skill .skill_main .card {
      width: 27rem;
      height: 8.5rem;
      gap: 2rem;
    }
  
    .pro .pro_main {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  
    .pro .pro_main .pro_para {
      margin-top: 1rem;
    }
  
    .pro_main .crd {
      width: 27rem;
      height: 8.5rem;
      gap: 2.5rem;
    }
  
    header nav {
      gap: 12rem;
    }
  }
  
  @media (width <=630px) {
    html {
      font-size: 68.25%;
    }
  
    header nav {
      gap: 8rem;
    }
  }
  
  @media (width <=550px) {
    html {
      font-size: 65.75%;
    }
  
    header nav {
      gap: 6rem;
    }
  }
  
  @media (width <=500px) {
    header nav {
      gap: 1rem;
    }
  }
  
  @media (width <=450px) {
    html {
      font-size: 62.25%;
    }
  
    form {
      width: 100%;
    }
  
    form input,
    form textarea,
    form button {
      width: 100%;
    }
  
    .lower_footer {
      gap: 2rem;
    }
  
    header > nav .link_nav ul li {
      display: none;
    }
  
    header nav {
      gap: 23rem;
    }
  
    header nav ul .manue {
      display:block;
    }
  
    html {
      height: 100vh;
    }
  }
  @media (width <=400px) {
    html {
      font-size: 60.25%;
    }
  }
  